CREATE TABLE IF NOT EXISTS public.meta_period_stats (
    id            uuid    DEFAULT gen_random_uuid() PRIMARY KEY,
    entity_type   varchar(20) NOT NULL, 
    entity_id     uuid    NOT NULL,
    ad_account_id text    NOT NULL,
    start_date    date    NOT NULL,
    end_date      date    NOT NULL,
    reach         bigint  DEFAULT 0,
    impressions   bigint  DEFAULT 0,
    frequency     numeric(6,3) DEFAULT 0,
    spend         numeric(12,2) DEFAULT 0,
    conversions   integer DEFAULT 0,
    clicks        integer DEFAULT 0,
    synced_at     timestamptz DEFAULT now(),
    CONSTRAINT meta_period_stats_unique UNIQUE (entity_type, entity_id, start_date, end_date)
);

CREATE INDEX IF NOT EXISTS meta_period_stats_dates
  ON public.meta_period_stats (ad_account_id, entity_type, start_date, end_date);

ALTER TABLE public.meta_period_stats ENABLE ROW LEVEL SECURITY;

CREATE POLICY "meta_period_stats_read_all" ON public.meta_period_stats
    FOR SELECT TO authenticated USING (true);

